**/__pycache__/

**/.vscode/**

# Common outputs of the standard workflow
*.out
*_SIM.slcio
*_REC.slcio
*_DST.slcio
*_miniDST.slcio
*_PfoAnalysis.root
*_AIDA.root
*_LCTuple.root

*_REC.edm4hep.root
*_SIM.edm4hep.root
*.edm4hep.json

# Side product of running Marlin
MarlinStdRecoParsed.xml

# Output for ranlux
Ranlux.coonf

# Vim swap files
*.swp

# Negate pattern for weirdHit files
!weirdHits_*

# log files
StandardConfig/production/log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
